/* Bloque de estilo de caratula.html */
#headerPpal{
    background-color: black;
    color: white;
    padding: 0;
    margin:0;
    border: 0;
}

/* Hoja de estilo de principal.html */
#tituloCurriculum{
    padding: 100px;
    text-align: center;
    font-size: xx-large;
    text-decoration-style: solid;
    text-decoration-line: underline;
    font-weight: bold;

}

#datosPersonales{
    display: grid;
    grid-template-areas: 'imagen datosPersonales';
    
}

#contenedorImagen{
    grid-area: contenedorImagen;
    margin-left: 20px;

}

#fotoCarnet{
    max-height: 350px;
    max-width: auto;
    object-fit:contain ;

}

#contenedorDatosPersonales{
    grid-area: datosPersonales;
    font-size: x-large;
    font-weight: bolder;
    font-family: ui-sans-serif;
}

#contenedorInformacion{
    clear: left;
    margin-top: 50px;
}
